@charset "utf-8";

button {
    display: block;
    margin-bottom: 1rem;
}

/* ホバーで変化 */
.fade-button {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #0bd;
    color: #fff;
    cursor: pointer;
    /* 背景色の変化をアニメーション */
    transition: background-color .3 ease;
}
.fade-button:hover {
    /* ホバー時の背景色 */
    background-color: #05b;
}

/* クリックで変化 */
#fade-button-js {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #07f;
    color: #fff;
    cursor: pointer;
    /* 背景色の変化をアニメーション */
    transition: background-color .3 ease;
}
