@charset "utf-8";
html {
    /* font-size: 16px; */
}

h1 {
    background: #f66;
    color: #fff;
    text-align: center;
    font-size: 1rem; /* root em : 16px */
    padding: 1em;
    margin: 1em;
    transition: background 1s, font-size 2s;
}

h1:hover {
    background: #fc2;
    font-size: 2em;
    color: #000;
}